<ion-header>
  <ion-navbar color="customColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">Visitors
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form #FormSubmit="ngForm" (ngSubmit)="searchMemberList(FormSubmit)">

    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <ion-input [(ngModel)]="FormSubmit.fullName"
                     name="fullName"
                     type="text"
                     style="border: 1px solid #00953B;"
                     placeholder="Type Full Name"
                     required>
          </ion-input>
        </ion-col>

        <ion-col col-3>
          <button ion-button small
                  style="margin-top: 10px;"
                  color="customColor"
                  full type="submit"
                  text-center
                  [disabled]="!FormSubmit.form.valid">
            Search
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

  <ion-item *ngFor="let eachValue of loadedList"
            [navPush]="reVisited"
            [navParams]="eachValue">
    <ion-thumbnail item-left>
      <img style="border-radius: 50%;display: block;
           margin-left: auto;margin-right: auto;"
           src="{{imageUrl + eachValue.photo}}">
    </ion-thumbnail>
    <h2 style="margin-top: 10px !important;"
        class="custom-font"  text-wrap>FullName: {{eachValue.fullName}}</h2>
    <h3 text-wrap><span class="custom-font" >Mobile: </span>{{eachValue.mobileOrPhone}}</h3>
    <h4 text-wrap><span class="custom-font">Email: </span>{{eachValue.email}}</h4>
    <h4 text-wrap><span class="custom-font">Area: </span>{{eachValue.area}}</h4>
    <h4 text-wrap><span class="custom-font">City: </span>{{eachValue.city}}</h4>
    <h4 text-wrap><span class="custom-font">Address: </span>{{eachValue.address}}</h4>
    <h4 text-wrap><span class="custom-font">Country: </span>{{eachValue.country}}</h4>
  </ion-item>

  <ion-fab right bottom>
    <button ion-fab color="customColor"
            [navPush]="registrationForm">
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab>

</ion-content>
