<ion-content>

  <div class="custom-content">

    <div text-center margin-bottom>
      <img [src]="profilePicture" width="120px" height="120px">
    </div>

    <div text-center class="login-box">
      <form #FormLogin="ngForm" (ngSubmit)="login(FormLogin)">
      <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-icon name="ios-person-outline" item-left></ion-icon>
                <ion-input [(ngModel)]="FormLogin.email"
                           type="email"
                           name="email"
                           placeholder="Email"
                           required email></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon name="ios-lock-outline" item-left></ion-icon>
                <ion-input [(ngModel)]="FormLogin.password"
                           name="password"
                           type="password"
                           placeholder="Password"
                           required>
                </ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <button ion-button block
                    color="customColor"
                    class="submit-btn" full type="submit"
                    [disabled]="!FormLogin.form.valid">
              Sign In Now
            </button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>

</ion-content>

