<ion-header>
  <ion-navbar color="customColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">Re Visited Member
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list padding-horizontal>

    <ion-avatar margin-top>
      <img style="border-radius: 50%;display: block;
           margin-left: auto;margin-right: auto;"
           src="{{imageUrl + loadedList.photo}}">
    </ion-avatar>

    <ion-item text-left margin-horizontal>
      <h4 text-wrap style="font-size: 16px;"><span class="custom-font" >Full Name: </span>{{loadedList.fullName}}</h4>
      <h4 text-wrap style="font-size: 16px;"><span class="custom-font">Nick Name: </span>{{loadedList.nickName}}</h4>
      <h4 text-wrap style="font-size: 16px;"><span class="custom-font">Mobile/Phone: </span>{{loadedList.mobileOrPhone}}</h4>
      <h4 style="font-size: 16px;"><span class="custom-font">Email: </span>{{loadedList.email}}</h4>
      <h4 text-wrap style="font-size: 16px;"><span class="custom-font">Address: </span>{{loadedList.address}}</h4>
      <h4 text-wrap style="font-size: 16px;"><span class="custom-font">Area: </span>{{loadedList.area}}</h4>
      <h4 text-wrap style="font-size: 16px;"><span class="custom-font">City: </span>{{loadedList.city}}</h4>
      <h4 text-wrap style="font-size: 16px;"><span class="custom-font">Country: </span>{{loadedList.country}}</h4>
    </ion-item>
  </ion-list>

  <form [formGroup]="reRegistrationForm" novalidate (ngSubmit)="submitValue()">

      <ion-list padding-horizontal>

        <ion-item-group>
          <div text-left>Discussion</div>
          <ion-textarea elastic
                        placeholder="Describe Here"
                        formControlName="discussion">
          </ion-textarea>
        </ion-item-group>

      </ion-list>

      <div *ngIf="base64Image" text-center margin>

        <img [src]="base64Image"
             style="border-radius: 50%;display: block;
             margin-left: auto;margin-right: auto;"
             (click)="addMedia()"
             width="100" height="100"/>
        <span class="custom-font">Add Photo</span>

      </div>

      <div text-center margin>

        <audio-input duration="120"
                     title="Play item"
                     formControlName="record">
          <span class="custom-font">Say</span>
        </audio-input>

      </div>

      <div margin>
        <button ion-button block
                color="customColor"
                type="submit"
                style="font-size: 1.5em; padding: 8px 8px 4px 8px;"
                [disabled]="!reRegistrationForm.valid"
                class="custom-font">Submit
        </button>
      </div>

  </form>

</ion-content>
