<ion-header>
  <ion-navbar color="customColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="custom-font"
               style="font-size: 2.1em;">L2n Comminica
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="registrationForm" novalidate (ngSubmit)="submitValue()">

    <ion-list padding-horizontal>

      <ion-item-group>
        <div text-left>Full Name</div>
        <ion-input type="text"
                   placeholder="Enter Full Name"
                   formControlName="fullName">
        </ion-input>
      </ion-item-group>

      <ion-item-group>
        <div text-left>Nick Name</div>
        <ion-input type="text"
                   placeholder="Enter Nick Name"
                   formControlName="nickName">
        </ion-input>
      </ion-item-group>

      <ion-item-group formArrayName="mobileOrPhone">

        <div text-left>Mobile/Phone</div>

        <div *ngFor="let phoneNumber of registrationForm.controls.mobileOrPhone.controls; let i=index">

          <div [formGroupName]="i">
            <ion-grid>
              <ion-row>

                <ion-col col-10
                         style="margin-left: -8px; margin-right: 8px;">
                  <ion-input type="number"
                             placeholder="Enter phone number"
                             formControlName="mobileNumber">
                  </ion-input>
                </ion-col>

                <ion-col col-2 style="padding: 6px 0px 6px 0px;"
                         *ngIf="registrationForm.controls.mobileOrPhone.controls.length != (i+1)">
                  <button ion-button
                          style="float: right;"
                          type="button"
                          (click)="removeMobile(i)"
                          color="dangerColor">
                    <ion-icon name="md-remove"></ion-icon>
                  </button>
                </ion-col>

                <ion-col col-2 style="padding: 6px 0px 6px 0px;"
                         *ngIf="registrationForm.controls.mobileOrPhone.controls.length == (i+1)">
                  <button ion-button
                          style="float: right;"
                          type="button"
                          (click)="addMobile()" color="customColor">
                    <ion-icon name="md-add"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>

      </ion-item-group>

      <ion-item-group>
        <div text-left>Email</div>
        <ion-input type="email"
                   placeholder="Enter email address"
                   formControlName="email">
        </ion-input>
      </ion-item-group>


      <ion-item-group>
        <div text-left>Address</div>
        <ion-textarea elastic
                      placeholder="Describe Here"
                      formControlName="address">
        </ion-textarea>
      </ion-item-group>

      <ion-item-group>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <div text-left>Area</div>
              <ion-input type="text" placeholder="Enter Area"
                         formControlName="area">
              </ion-input>
            </ion-col>
            <ion-col col-6>
              <div text-left>City</div>
              <ion-input type="text" placeholder="Enter City"
                         formControlName="city">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-group>

      <ion-item-group>
        <div text-left>Country</div>
        <ion-input type="text"
                   placeholder="Enter Country"
                   formControlName="country">
        </ion-input>
      </ion-item-group>

      <ion-item-group>
        <div text-left>About This Person</div>
        <ion-textarea elastic
                      placeholder="Describe Here"
                      formControlName="aboutThisPerson">
        </ion-textarea>
      </ion-item-group>

      <ion-item-group>
        <div text-left>Discussion</div>
        <ion-textarea elastic
                      placeholder="Describe Here"
                      formControlName="discussion">
        </ion-textarea>
      </ion-item-group>
    </ion-list>

    <div *ngIf="base64Image" text-center margin>

      <img [src]="base64Image"
           style="border-radius: 50%;display: block;
           margin-left: auto;margin-right: auto;"
           (click)="addMedia()"
      width="100" height="100"/>
      <span class="custom-font">Add Photo</span>

    </div>

    <div text-center margin>

      <audio-input duration="120"
                   title="Play item"
                   formControlName="record">
        <span class="custom-font">Say</span>
      </audio-input>

    </div>

    <div margin>
      <button ion-button block
              color="customColor"
              type="submit"
              style="font-size: 1.5em; padding: 8px 8px 4px 8px;"
              [disabled]="!registrationForm.valid"
              class="custom-font">Submit
      </button>
    </div>


  </form>

</ion-content>
