<ion-header>
  <ion-navbar color="customColor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">LC
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-slides pager *ngIf="!adminFlag">

    <ion-slide>
      <img src="assets/logo.png" />
    </ion-slide>

    <ion-slide >

      <ion-list no-lines
                *ngFor="let eachValue of loadedList">

        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{imageUrl + eachValue.photo}}">
          </ion-thumbnail>
          <h2 class="custom-font" style="color:#000; margin-top:10px !important;">Recently Added: {{eachValue.recent}} person</h2>
          <p class="custom-font"  style="color:#000;">Total Added: {{eachValue.total}} person</p>
          <ion-icon name="ios-arrow-dropright"
                    style="font-size:32px;" item-end></ion-icon>
        </ion-item>

      </ion-list>

    </ion-slide>

  </ion-slides>


  <ion-slides pager *ngIf="adminFlag">

    <ion-slide>
      <img src="assets/logo.png" />
    </ion-slide>

    <ion-slide>
      <ion-list no-lines
                *ngFor="let eachValue of loadedList">

        <ion-item  (click)="open(eachValue.id)">
          <ion-thumbnail item-start>
            <img src="{{imageUrl + eachValue.photo}}">
          </ion-thumbnail>
          <h2 class="custom-font" style="color:#000; margin-top:10px !important;">Recently Added: {{eachValue.recent}} person</h2>
          <p class="custom-font"  style="color:#000;">Total Added: {{eachValue.total}} person</p>
          <ion-icon name="ios-arrow-dropright" item-end
                    style="font-size:32px;"></ion-icon>
        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide *ngIf="pieChartData && pieChartLabels">
      <ion-card>
        <ion-card-header text-center class="custom-font">
          User Achievement (Total)
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [colors]="pieChartColors"
                  [chartType]="pieChartType"></canvas>
        </ion-card-content>
      </ion-card>

    </ion-slide>

  </ion-slides>


</ion-content>
