.ios,.md{
  page-home {

    .center-align{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .swiper-pagination-bullet-active{
      background: #00953B;
    }

    ion-list ion-item{
      color:#00953B;
      background-color: #ecf0f1;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .scroll-content {
      overflow-y: auto;
    }

  }
}
