// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  customColor:(
    base: #00953B,
    contrast: #ffffff
  ),
  dangerColor:(
    base: #f53d3d,
    contrast: #ffffff
  )
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$action-sheet-md-background:#FFF;
$action-sheet-md-title-color: #00953B;
$action-sheet-md-title-font-size: 1.2em;
$action-sheet-md-button-text-color:#00953B;
$action-sheet-md-text-align:center;
$action-sheet-md-button-background-activated: #ffe6e6;

$modal-inset-min-width:300px;
$modal-inset-min-height-small:300px;
$modal-inset-min-height-large:300px;
$modal-inset-width:300px;
$modal-inset-height-small:300px;
$modal-inset-height-large:300px;

$spinner-md-ios-color:#00953B;
$spinner-md-bubbles-color:#00953B;
$spinner-md-circles-color:#00953B;
$spinner-md-crescent-color:#00953B;
$spinner-md-dots-color:#00953B;

$badge-font-size:1.5rem;

$alert-md-background-color: #FFFFFF;
$alert-md-message-text-color: #00953B;
$alert-md-button-text-color:#00953B;
$loading-md-spinner-circles-color:#00953B;
$loading-md-text-color:#00953B;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
