<ion-menu [content]="content" [enabled]="isAuthenticated">

  <ion-header text-center>
    <ion-toolbar  color="customColor">
      <ion-title class="custom-font" style="font-size: 2.1em;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content  *ngIf="isAuthenticated">

    <ion-item margin-left>
      <ion-thumbnail item-start>
        <img src="{{user?.profile}}">
      </ion-thumbnail>
      <h2 class="custom-font custom-padding" style="margin-top: 10px !important;">{{user.name}}</h2>
      <p class="custom-font custom-margin" style="color: #000;">{{user.designation}}</p>
      <button class="custom-font icons"  (click)="logout()">Sign Out</button>
    </ion-item>

    <ion-list>

      <button ion-item
              *ngFor="let page of pages"
              class="custom-font item-hover"
              (click)="openPage(page)"
              menuClose>
        <p style="font-size: 1.4em !important;
             margin-left: 16px; margin-top: 6px;">
          {{page.title}}
        </p>
        <ion-icon [name]="page.icon" item-right
                  class="custom-icon"></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content></ion-nav>
