// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/Bebas Neue.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


.custom-font{
  font-family:'Bebas Neue';
}
.custom-second-font{
  font-family:'Reimoo Personal';
  font-size: 2.2em;
}

.custom-image{
  border-radius: 50%;display: block;
  margin-left: auto;margin-right: auto;
  border-radius: 50%;
}

.custom-margin{
  margin-top: -6px;
  margin-bottom: 6px;
}

.icons {
  background: #00953B;
  color: white;
  padding: 8px 8px 4px 8px;
  font-size: 1em;
  margin-top: 0px !important;
  text-align: center;
}

// item hover effect
.item-md{
  padding-left: 0px;
}

.item-hover .item-inner > ion-icon{
  color: #00953B !important;
}

.item-hover:hover .item-inner > ion-icon{
  color: #FFFFFF !important;
}

.item-hover .item-inner .input-wrapper> ion-label > p{
  color: #000 !important;
}

.item-hover:hover .item-inner .input-wrapper> ion-label > p{
  color: #FFFFFF !important;
}

.item-hover:hover{
  background:#00953B !important;
  color: #FFFFFF;
}

// button-bar hover modify
.bar-button .button-inner > ion-icon{
  color: #FFFFFF;
}

.bar-button:hover .button-inner > ion-icon{
  color: #FFFFFF;
}

.custom-icon{
  font-size: 30px !important;
}

.scroll-content {
  overflow-y: auto;
}
