.ios,.md{
  expandable {

    .expand-wrapper{
      max-height: 0;
      transition:  max-height 0.5s linear;
    }
    .expanded{
      max-height: 152px;
      transition: max-height 0.5s linear;
      margin-bottom: 16px;
    }

  }
}
