<ion-header>

  <ion-navbar color="customColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="custom-font"
               style="font-size: 2.1em;">List Of {{personName}} Visitors
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="accordion-list">

    <ion-list-header *ngFor="let item of loadedList; let i = index" no-lines no-padding>

      <button ion-item (click)="toggleSection(i)" detail-none
              [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="ios-arrow-dropdown"
                  style="color:#00953B; margin-left: 14px;font-size:32px;" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="ios-arrow-dropright"
                  style="color:#f3f2f1; margin-left: 14px;font-size:32px;"
                  *ngIf="item.open"></ion-icon>
        {{item.entrydate}}
        <ion-badge item-end>{{item.eachDayUser}}</ion-badge>
      </button>

      <ion-list *ngIf="item.children && item.open"
                style="margin-top:10px;">

        <ion-item *ngFor="let child of item.children;let j= index" no-padding
                  (click)="toggleItemSection(i,j)">

          <ion-thumbnail margin-bottom
                      margin-top>
            <img style="border-radius: 50%;display: block;
            margin-left: auto;margin-right: auto; height: 140px; width: 140px;"
                 src="{{imageUrl + child.photo}}">
          </ion-thumbnail>

          <h4 text-wrap style="font-size: 16px;margin-left: 10px;"><span class="custom-font" >Full Name: </span>{{child.fullName}}</h4>
          <h4 text-wrap style="font-size: 16px; margin-left: 10px;"><span class="custom-font">Mobile/Phone: </span>{{child.mobileOrPhone}}</h4>
          <h4 text-wrap style="font-size: 16px; margin-left: 10px;"><span class="custom-font" >Email: </span>{{child.email}}</h4>

          <expandable [expended]="child.open"
                      [expendHeight]="itemExpendedHeight">
            <h4 text-wrap style="font-size: 16px; margin-left: 10px;"><span class="custom-font" >Area: </span>{{child.area}}</h4>
            <h4 text-wrap style="font-size: 16px; margin-left: 10px;"><span class="custom-font" >City: </span>{{child.city}}</h4>
            <h4 text-wrap style="font-size: 16px; margin-left: 10px;"><span class="custom-font" >Address: </span>{{child.address}}</h4>
            <h4 text-wrap style="font-size: 16px; margin-left: 10px;"><span class="custom-font" >Country: </span>{{child.country}}</h4>
            <h4 text-wrap style="font-size: 16px;margin-left: 10px;"><span class="custom-font" >No of visit:  </span>{{child.flagEntry}}</h4>
          </expandable>

          <button ion-button clear item-end *ngIf="child.revisited == '1'">
            <ion-icon name="ios-star" style="color:#00953B; font-size: 18px;"></ion-icon>
          </button>

        </ion-item>

      </ion-list>

    </ion-list-header>

  </ion-list>


</ion-content>
