.ios,.md{
  page-each-person-list {

    .accordion-list {
      height: 100%;
    }

    .section {
      background: #ecf0f1;
      color: #00953B;
      margin-bottom: 4px;
      border-radius: 4px;
    }
    .section .badge-md {
      border-radius: 50%;
      height: 30px;
      width: 30px;
      padding-top: 7px;
      padding-left: 6px;
      color: #00953B;
      border: 1px solid #DEDEDE;
      background: inherit;
    }
    .section-active {
      background: #00953B;
      color: #fff;
      border-radius: 4px;
    }

    .section-active .badge-md {
      border-radius: 50%;
      color: #ecf0f1;
      height: 30px;
      width: 30px;
      padding-top: 7px;
      padding-left: 6px;
      border:1px solid #ecf0f1;
      background: inherit;
    }

    ion-list ion-item{
      background-color: #ecf0f1;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .child-item {
      background: #f3f2f1;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .label {
      margin: 0px;
    }

    .list {
      margin-bottom: 4px;
    }

  }
}
